.newsBanner_img{
	width: 100%;
}

.newsBlock{
	display: flex;
	flex-direction: column;
	gap: 30px;
	padding-right: 200px;
	margin-bottom: 40px;
}
.newsMain_tagAndDate{
	display: flex;
	align-items: center;
	gap: 40px;
}
.newsMain_tagAndDate_tag{
	background-color: rgba(93, 113, 221, 0.05);
	padding: 8px 16px;
	color: #5D71DD;
	border-radius: 6px;
	display: inline-flex;
	cursor: pointer;
}
.newsMain_tagAndDate_date{
	color: #2F2222;
	opacity: 40%;
}
.newsMain_title{
	font-size: 30px;
	font-weight: 550;
}
.newsMain_text{
	font-size: 18px;
	line-height: 32px;
	font-weight: 400;
}
.newsMain_buttons{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 20px;
}
.newsMain_computer_p{
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}
.newsMain_twoCloumns{
	display: flex;
	gap: 20px;
}
.newsMain_text_blocks{
	display: flex;
	flex-direction: column;
	gap: 20px;
}



