

/* Banner ------------------------ */
.banner{
	width: 100%;
	height: 300px; 
	object-fit: cover;
}
/* end --------------------------- */

/* Main -------------------------- */
.main{
	display: flex;
	gap: 30px;
}
		/* Main Left Side */
		.main__leftside{
			flex: 350;
			display: flex;
			flex-direction: column;
			gap: 30px;
			padding: 30px;
		}

	
/* end --------------------------- */

/* Components -------------------------- */
	/* Component 1 -------------------------- */
		.component_1{
			background-color: white;
			padding: 20px 30px;
			/*margin: 20px; */
			border-radius: 10px;
			flex: 1;
			cursor: pointer;
			transition: transform 0.1s;
		}
		.component_1:hover{
			box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
			transform: translateY(-2px);
		}
				/* component_1__divTitle */
				.component_1__divTitle{
					display: flex;
					justify-content: space-between;
					align-items: center;
					margin-bottom: 36px;
				}
						.component_1__divTitle__tag{
							background-color: #F7F8FD;
							padding: 8px 16px;
							color: #5D71DD;
							border-radius: 6px;
						}
						.component_1__divTitle__date{
							color: #2F2222;
							opacity: 40%;
						}

		.component_1__title{
			font-size: 24px;
			line-height: 30.77px;
			margin-bottom: 20px;
		}
		.component_1__description{
			font-size: 18px;
			color: #2F2222;
			opacity: 40%;
			line-height: 30px;
		}
	/* end -------------------------- */

	/* Component 2 -------------------------- */
		.component_2{
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			background-color: #5D71DD;
			color: white;
			padding: 30px;
			/* margin: 20px; */
			border-radius: 10px;
			width: 320px;
			height: 400px;
			cursor: pointer;
			transition: transform 0.1s;
		}
		.component_2:hover{
			box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
			transform: translateY(-2px);
		}
		.back_image{
			background-image: url(src/image1.svg);
		}
		.back_image2{
			background-image: url(src/image2.svg);
		}
				.component_2__divTopside__tag{
					background-color: #7D8DE4;
					padding: 8px 16px;
					border-radius: 6px;
					display: inline-flex;
				}
				.component_2__title{
					font-size: 24px;
					line-height: 30.77px;
					font-weight: 450;
					margin-top: 30px;
				}
	
	/* end --------------------------- */
/* end --------------------------- */

.container_width_100{
	flex: 1;
}

.container__twoColumn_row{
	display: flex;
	flex-direction: row;
	column-gap: 30px;
}

.container__twoColumn_column{
	display: flex;
	flex-direction: column;
	row-gap: 30px;
	flex: 1;
}

/* paggination */
.paggination{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 30px;
}
.paggination_flex{
	display: flex;
	align-items: center;
	column-gap: 20px;
}
.paggination_flex_a{
	list-style-type: none; 
	text-decoration: none;
	color: black;
}
.paggination_flex_a:active{
	color: #5D71DD;
	text-decoration: underline;
	text-underline-offset: 6px;
}
.paggination_flex_a:hover{
	color: #5D71DD;
}
.paggination_button{
	cursor: pointer;
	border: none;
	padding: 10px 16px;
	border-radius: 8px;
	color: rgba(93, 113, 221, 1);
	background-color: rgba(93, 113, 221, 0.05);
}


/* Main Right Side */
.main_rightside{
	flex: 110;
	/* background-color: blue; */
}


/* Popular News */
.popularNews{
	margin: 30px 0px;
}
.popularNews_title{
	font-size: 24px;
	font-weight: 550;
	line-height: 37px;
}
.popularNews_items{
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin-top: 30px;
}
.popularNews_item{
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.popularNews_item_title{
	font-size: 18px;
}
.popularNews_item_date{
	color: rgba(47, 34, 34, 0.4);
	font-size: 18px;
	font-weight: 400;
}
hr{
	height: 2px;
  border: none;
	background-color: rgba(229, 228, 228, 1);
}

.subcribtion{
	background-color: white;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
	height: 270px;
	padding: 30px;
	border-radius: 10px;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
}
.subcribtion_title{
	font-size: 22px;
	font-weight: 550;
}
.subcribtion_input{
	background-color: rgba(245, 245, 245, 1);
	padding: 13px 32px;
	border-radius: 20px;
	border: none;
	width: 90%;
	font-size: 18px;
	outline: none;
}
.subcribtion_button{
	padding: 13px 32px;
	border-radius: 20px;
	border: none;
	width: 90%;
	font-size: 18px;
	color: white;
	background-color: rgba(93, 113, 221, 1);
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 14px;
}


footer{
	display: flex;
	align-items: center;
	justify-content: center;

	background-color: rgba(93, 113, 221, 0.05);
	padding: 40px 0px;
}
.footer{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 70px;
	width: 1500px;
}
.footer_img{
	cursor: pointer;
}
.footer_nav_ul{
	display: flex;
	list-style-type: none; 
	gap: 60px;
}
.footer_nav_ul_li_a{
	text-decoration: none;
	color: black;
	font-weight: 400;
	font-size: 18px;
}
.footer_nav_ul_li_a:active{
	color: #5D71DD;
	text-decoration: underline;
	text-underline-offset: 6px;
}
.footer_nav_ul_li_a:hover{
	color: #5D71DD;
}
.footer_ooo{
	color: rgba(47, 34, 34, 1);
}



					