/* Header ------------------------ */
.header{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
}
		.header_burger{
			display: none;
			width: 36px;
		}
		/* Header Container */
		.header_container{
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 10px 0px;
			width: 1500px;
		}
				/* Logo */
				.header_logo{
					cursor: pointer;
				}
				/* Menu */
				.header_menu{
					display: flex;
					flex-direction: row;
					gap: 40px;
				}
						/* ul */
						.header_menu_ul{
							display: flex;
							gap: 40px;
						}
						/* li */
						.header_menu_li{
							list-style-type: none; 
						}
						/* a (links) */
						.header_menu_a{
							text-decoration: none;
							color: black;
							font-weight: 400;
							font-size: 18px;
						}
						.header_menu_a:active{
							color: #5D71DD;
							text-decoration: underline;
							text-underline-offset: 6px;
						}
						.header_menu_a:hover{
							color: #5D71DD;
						}

		/* Header Phone */
		.header_phone{
			display: flex;
			gap: 10px;
		}
				/* Phone Number */
				.header_phone_number{
					color: #5D71DD;
					text-decoration: none;
					font-weight: 450;
					font-size: 18px;
				}
/* end --------------------------- */


/*laptops, desktops*/
@media (min-width: 1025px) and (max-width: 1280px) {
	/* Header ------------------------ */
			/* Header Container */
			.header_container{
				width: 1200px;
			}
}

/*tablets, ipads (portrait)*/
@media (min-width: 768px) and (max-width: 1024px){
	/* Header ------------------------ */
			/* Header Container */
			.header_container{
				width: 960px;
			}
					/* ul */
					.header_menu_ul{
						gap: 28px;
					}
					/* a (links) */
					.header_menu_a{
						font-size: 14px;
					}
			/* Phone Number */
			.header_phone_number{
				font-size: 16px;
			}
}

/*smartphones mobiles (portrait)*/
@media (min-width: 320px) and (max-width: 480px){
	/* Header ------------------------ */
			/* Header Container */
			.header_container{
				width: 400px;
				padding: 10px 10px;
			}
					.header_menu{
						display: none;
					}
	.header_phone{
		display: none;
	}
	.header_burger{
		display: block;
	}
}